body{
    background-color: rgb(66, 66, 66);
    color: white;
}
legend {
    width: 80%;
    margin: auto;
    font-variant: small-caps;
    font-size: 30px;
}
form {
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 2px solid white;
    border-radius: 15px;
}
#nome, #email, #registro {
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 8px;                               
    box-sizing: border-box;
}
#nome:focus, #email:focus, #registro:focus {
    background-color: rgb(177, 175, 177);

}
#button {
    background-color: rgb(241, 225, 97);
    border-radius: 5px;
    padding: 8px;
    margin: auto;
}